// Place all the styles related to the foots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid;
  width:300px;
  padding: 10px;
  box-shadow: 5px 10px #888888;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 25px;
}
input{
  border-radius: 25px;
}
h1{
  text-align:center;
}
